.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: -3px;
}
.containerProduct{
  width: auto;
  padding: 3px;
  height: auto;
}
.product{
  display: flex;
  padding: 10px;
  background-color: #f0f0f0;
  flex-direction: row;
  max-height: 160px;
  width: auto;
}
.image{
  max-height: 140px;
  width: auto;
  border-radius: 10px;
}
.title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -3px;
}
.description{
  margin-left: 20px;
  width: 65%;
}
.descriptionText{
  font-size: 14px;
}
.price{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  display: inline;
}
.priceButton{
  display: flex;
  justify-content: space-around;
}
.selectButton{
  align-items: flex-end;
}
.toppingsContainer{
  display:inline;
  flex-direction: row;
  justify-content: space-around;
}
.divToppings{
  padding: 15px;
}
h3{
  padding-left: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
